<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Braintree Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css" th:href="@{/css/app.css}"/>
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}"/>
    <script src="/javascript/vendor/jquery-2.1.4.min.js" th:src="@{/javascript/vendor/jquery-2.1.4.min.js}"></script>
    <script src="/javascript/vendor/jquery.lettering-0.6.1.min.js"
            th:src="@{/javascript/vendor/jquery.lettering-0.6.1.min.js}"></script>
    <script src="/javascript/demo.js" th:src="@{/javascript/demo.js}"></script>
</head>
<body>
<header class="main">
    <div class="container wide">
        <div class="content slim">
            <div class="set">
                <div class="fill">
                    <a class="pseudoshop" href="/">PSEUDO<strong>SHOP</strong></a>
                </div>

                <div class="fit">
                    <a class="braintree" href="https://developers.braintreepayments.com/guides/drop-in" target="_blank">Braintree</a>
                </div>
            </div>
        </div>
    </div>
    <div class="notice-wrapper">
        <div class="show notice error notice-error" th:if="${errorDetails}">
            <span class="notice-message" th:text="${errorDetails}"></span>
        </div>
    </div>
</header>

<div class="wrapper">
    <div class="checkout container">

        <header>
            <h1>Hola, <br/>Let's test a transaction</h1>
            <p>
                Make a test payment with Braintree using PayPal or a card
            </p>
        </header>
        <form id="create-payment-form" method="post" action="/createCreditCardPayment">
            <section>
                <label for="userId">
                    <span class="input-label">User Id</span>
                    <div class="input-wrapper">
                        <input id="userId" name="userId" type="tel" min="1" placeholder="User Id"
                               th:value="${#httpServletRequest.getParameter('userId')}"/>
                    </div>
                </label>
                <label for="paymentMethodId">
                    <span class="input-label">Payment Method Id</span>
                    <div class="input-wrapper">
                        <input id="paymentMethodId" name="paymentMethodId" min="1" type="tel"
                               placeholder="Payment Method Id"
                               th:value="${#httpServletRequest.getParameter('paymentMethodId')}"/>
                    </div>
                </label>
                <label for="amount">
                    <span class="input-label">Amount</span>
                    <div class="input-wrapper amount-wrapper">
                        <input id="amount" name="amount" type="tel" min="100" placeholder="Amount" value="1245"/>
                    </div>
                </label>
                <label for="brand">
                    <span class="input-label">Brand</span>
                    <div class="input-wrapper">
                        <input id="brand" name="brand" type="text" placeholder="Brand" value="ECOTAXI"/>
                    </div>
                </label>
                <label for="currency">
                    <span class="input-label">Currency</span>
                    <div class="input-wrapper">
                        <input id="currency" name="currency" type="text" placeholder="Currency" value="SEK"/>
                    </div>
                </label>
                <label for="deviceData">
                    <span class="input-label">Device Data</span>
                    <div class="input-wrapper">
                        <input id="deviceData" name="deviceData" type="text" placeholder="Device Data"
                               value="DeviceData"/>
                    </div>
                </label>
                <label for="dynamicDescriptor">
                    <span class="input-label">Dynamic Descriptor</span>
                    <div class="input-wrapper">
                        <input id="dynamicDescriptor" name="dynamicDescriptor" type="text"
                               placeholder="Dynamic Descriptor" value="MY-COMPANYYY*123-456-7"/>
                    </div>
                </label>
                <label for="settle">
                    <span class="input-label">Settle</span>
                    <div class="input-wrapper">
                        <input id="settle" name="settle" type="checkbox" placeholder="Settle" value="0"/>
                    </div>
                </label>
                <label for="paymentProvider">
                    <span class="input-label">Payment Provider</span>
                    <div class="input-wrapper">
                        <input id="paymentProvider" name="paymentProvider" type="text" placeholder="Payment Provider"
                               value="Braintree"/>
                    </div>
                </label>

            </section>
            <button class="button" type="submit"><span>Reserve Payment</span></button>
        </form>
    </div>
</div>

<script src="https://js.braintreegateway.com/js/braintree-2.17.6.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var checkout = new Demo({
        formID: 'create-payment-form'
    })

    var client_token = [[${clientToken}]];

    braintree.setup(client_token, "custom", {
        dataCollector: {
            kount: {environment: 'sandbox'}
        },
        onReady: function (braintreeInstance) {
            var field = document.getElementById('deviceData');
            field.value = braintreeInstance.deviceData;
        }
    });

    /*]]>*/
</script>
</body>
</html>
